@import '../../../sass/main.scss';
.admin-item {
  background-color: $color-main-light-3;
  // border: 0.2rem solid $color-main-dark;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin: 0.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8rem;
  border-radius: 0.7rem;
  &__img {
    width: 4.5rem;
    height: 6 rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__sep {
    width: 0.2rem;
    height: 100%;
    background-color: $color-main-light;
    margin: 0 1rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 15rem;
    span {
      font-size: 1.1rem;
    }
    span:first-child {
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  }
  &__btns {
    margin-right: auto;
    margin-left: 1rem;
    width: 10rem;
    display: flex;
  }
}
.admin-item-supa {
  background-color: $color-main-light-3;
  border: 0.2rem solid $color-secondary-dark;
  margin: 0.5rem 0;
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8rem;
  border-radius: 0.7rem;
  &__img {
    width: 4.5rem;
    height: 6 rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__sep {
    width: 0.2rem;
    height: 100%;
    background-color: $color-main-light;
    margin: 0 1rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 15rem;
    span {
      font-size: 1.1rem;
    }
    span:first-child {
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  }
  &__btns {
    margin-right: auto;
    margin-left: 1rem;
    width: 10rem;
    display: flex;
    display: none;
  }
}
.admin-item-publish {
  background-color: $color-main-light-3;
  border: 0.2rem solid $color-main-dark;
  margin: 0.5rem 0;
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8rem;
  border-radius: 0.7rem;
  &__img {
    width: 4.5rem;
    height: 6 rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__sep {
    width: 0.2rem;
    height: 100%;
    background-color: $color-main-light;
    margin: 0 1rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 15rem;
    span {
      font-size: 1.1rem;
    }
    span:first-child {
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  }
  &__btns {
    margin-right: auto;
    margin-left: 1rem;
    width: 10rem;
    display: flex;
  }
}
